<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_APP_ID</key>
	<string>1235601864</string>
	<key>AppName</key>
	<string>trill</string>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>TikTok</string>
	<key>CFBundleExecutable</key>
	<string>AwemeI18n</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>MonkeyApp/icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon_TikTok29x29</string>
				<string>AppIcon_TikTok40x40</string>
				<string>AppIcon_TikTok60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon_TikTok</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon_TikTok29x29</string>
				<string>AppIcon_TikTok40x40</string>
				<string>AppIcon_TikTok60x60</string>
				<string>AppIcon_TikTok76x76</string>
				<string>AppIcon_TikTok83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon_TikTok</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.yulong.tiktok</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AwemeI18n</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ss.iphone.ugc.Awe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1180</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1862952583919182</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>line</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.com.ss.iphone.ugc.Ame</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>KakaoTalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao462f5e1bc6e5e64e36f3a2b30908e2a9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1096011445005-qqsj3hcu9s53dv6pbdrl6vs8ls649v01</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-mZgI09qvozZl94r4UGwny5wjQ</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>42002</string>
	<key>CHANNEL_NAME</key>
	<string>App Store</string>
	<key>CodePushDeploymentKey</key>
	<string>uByLHmAcarJ10xB6sX2d5sQ2CWopaf01fe8e-4e69-45c9-a3f5-0bfdf3747ea8</string>
	<key>DTAppStoreToolsBuild</key>
	<string>10B63</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>16B91</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>12.1</string>
	<key>DTSDKBuild</key>
	<string>16B91</string>
	<key>DTSDKName</key>
	<string>iphoneos12.1</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>d157c85935ba09709547f3b0c680584f89a1345b</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1862952583919182</string>
	<key>FacebookDisplayName</key>
	<string>TikTok</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InstagramClientKey</key>
	<string>c8785d0dc7df48f298532fddf33d7cb5</string>
	<key>KAKAO_APP_KEY</key>
	<string>462f5e1bc6e5e64e36f3a2b30908e2a9</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lark</string>
		<string>viber</string>
		<string>snapchat</string>
		<string>wechat</string>
		<string>mtmv</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakao462f5e1bc6e5e64e36f3a2b30908e2a9</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
		<string>line</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>lineauth</string>
		<string>line3rdp.com.ss.iphone.ugc.Ame</string>
		<string>whatsapp</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150128</string>
		<string>bbmi</string>
		<string>zalo</string>
		<string>musically</string>
		<string>likevideo</string>
		<string>com.xkeam.muvik</string>
		<string>snapchat</string>
		<string>kwai</string>
		<string>mixch</string>
		<string>com.hdv.vivavideofree2015</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>bandapp</string>
		<string>kakaostory</string>
		<string>navercafe</string>
		<string>naverblog</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger</string>
		<string>itms-beta</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1511960329</string>
	</dict>
	<key>MGLMapboxAPIBaseURL</key>
	<string>https://api.mapbox.com</string>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiZG10cHVibGljIiwiYSI6ImNqbHJpYTYxdzA1ZmkzcHJ4dnRqems5cHoifQ.hyT2pbaqdZbvApQfqwBIiQ</string>
	<key>MMEEventsProfile</key>
	<string>VariableGeofence</string>
	<key>MinimumOSVersion</key>
	<string>9.3</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string> 用于选取手机内的本地音乐</string>
	<key>NSCameraUsageDescription</key>
	<string> 用于拍照设为个人头像，及拍摄短视频时访问相机</string>
	<key>NSContactsUsageDescription</key>
	<string> 用于获知通讯录联系人中使用该应用的用户名单</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string> 用于推荐“附近”用户的视频</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string> 用于推荐“附近”用户的视频</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string> 用于推荐“附近”用户的视频</string>
	<key>NSMicrophoneUsageDescription</key>
	<string> 用于拍摄短视频时访问麦克风收录视频声音</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string> 用于从相册选取照片设置个人头像、上传发布视频，以及保存作品至本地</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string> 用于从相册选取照片设置个人头像、上传发布视频，以及保存作品至本地</string>
	<key>SCSDKClientId</key>
	<string>9cff289b-94e9-4f6b-9642-0b4d571a98cd</string>
	<key>SCSDKRedirectUrl</key>
	<string>snssdk1180://snapchat</string>
	<key>SSAppID</key>
	<string>1180</string>
	<key>TwitterInfo</key>
	<dict>
		<key>consumerKey</key>
		<string>mZgI09qvozZl94r4UGwny5wjQ</string>
		<key>consumerSecret</key>
		<string>MziawdK4EJjdPJNQVvOu87Rlb4rYKUsAznF8GAvF9krBBI22c9</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>sofiapro-bold.otf</string>
		<string>Proxima-Nova-Bold.otf</string>
		<string>Proxima-Nova-Semibold.otf</string>
		<string>Proxima-Nova-Regular.otf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen I18N</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
